:root {
	color: #ddd;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
	height: 99vh;
	padding: 5px;
}

input[type=color] {
	height: 30px;
	width: 50px;
}

:invalid {
	outline: solid 2px red;
}

.borderless {
	background: none;
	border: none;
	cursor: pointer;
}

div#page {
	height: 100%;
	position: relative;
}

h1#marbelous {
	position: absolute;
}

div#svg-container {
	height: 100%;

	& svg {
		height: 100%;
		width: 100%;
	}
}

div#downloads {
	bottom: 10px;
	left: 10px;
	position: fixed;

	& button#download-png, button#download-svg {
		padding: .5em;
	}
}

button#generate {
	bottom: 10px;
	padding: .5em;
	position: fixed;
	right: 10px;
}

details#settings_container {
	cursor: default;
	position: absolute;
	right: 10px;
	top: 0;
	width: 200px;

	summary {
		margin-bottom: 1rem;
	}

	& div#settings_controls {
		display: grid;
		grid-template-columns: 3fr 4fr;
		row-gap: .8rem;
	}

	& input#settings_complexity {
		width: 50px;
	}

	& input#settings_curveness {
		width: 100%
	}

	& button#settings_add-color {
		color: lightgreen;
		font-size: 1.3em;
	}

	& div#settings_colors * {
		vertical-align: middle;

		& button.remove-color {
			font-size: .7rem;
		}
	}
}